<main>
	<h1>How to play</h1>

	<h2>What is DAB</h2>

	<p>Double anti-bingo (DAB for short) is a game where you are given a random bingo card, a 5x5 grid of squares that describe challenges you must complete before advancing to Chaos in the game.</p>

	<h2>How to join</h2>

	<p>The race is organized on Discord and/or racetime.gg like normal, just you also open a bingo room on this website and link it for everyone to join. Each player will want to join both the Discord organizing room and the bingo board room. (I might be able to automate that more in the future, but right now you just need to click it too.)</p>

	<p><b>Tip:</b> the bingo board also works from most phones and tablets, so if your computer is busy running the game, you might consider using one of those for the bingo board. You might choose to go to the homepage and select your personal color and turn on notification sounds if you want. Those preferences are saved per-device, so if you change from computer to phone and like your personalized color, be sure to visit the homepage to set that.</p>

	<p>The bingo website will ask you to log in via your Discord account. This process is usually as simple as clicking "OK" when it asks for your permission to share your discord username with the bingo site. Then you click the "join" button to enter the room as a player.</p>

	<h2>Challenge selection</h2>

	<p>In the room, you will select a challenge for your opponent by clicking on one of the headers, like R-1, C-3, or TL-BR. Yes, remember you can select diagonals too! The general strategy is to force the opponent to do the row you think will take the longest for them, or is most at odds with their play style and strengths to give yourself maximum advantage.</p>

	<p>In 1v1 games, your opponent is obvious, but in an open group game, it works kinda like 1v1v1v1.... that is, you choose the challenge for the next player in the list, who picks for the next player after them, and so on until it loops back and the last player in the list picks for the first player in the list. The person who created the room can shuffle the list of players to randomize who picks for whom - if they do, just refer back to the list at the top of the site to see who is after you. The challenge you select will be remembered, or you can change it any time before the opener locks in the game.</p>

	<p>Your challenge selection is only visible to yourself until the room is locked in. At that point, everybody's page will automatically refresh and show the selections. Your own personal color will highlight on the challenge you must complete.</p>

	<p>After the room is locked in, you should go back to the Final Fantasy game and do party selection. Since the challenge you get locked into might influence party selection, you don't want to do this too soon, but after the settings are locked and your own color highlights on the edges, you're good to go. Do party selection and ready up on Discord or the racetime room, then play the game when the clock starts.</p>

	<h2>In-game tracking</h2>

	<p>In game, light squares as soon as you realize you've completed the requirements, and unlight it as soon as you wipe if it is one you must save or do every time. The real time info communicated through the board is part of the DAB meta game, giving players hints about their opponent's progress. Keep an eye on it and you might get some useful clues!</p>

	<p>You must complete the assigned challenge as well as one additional bingo of your own choosing before you fight Chaos. The additional bingo is not determined ahead of time; you might be aiming for one, but the seed sends you in another direction. That's OK, as long as you've done the required challenge and any additional bingo, you're good to go.</p>

	<p>Upon terminating Chaos, hit done in Discord or the racetime room to record your official time.</p>

	<p>And remember, this is a game, it is supposed to be fun!</p>

	<h1>FAQs on square wordings</h1>

	<p>The text in the box under the square is generally authoritative, but some rules if it is unclear:</p>

	<p>"Open box" means "press A on it". You don't have to actually pick up the item. If you wipe, it is still considered opened, so you don't have to do it again to keep the square.</p>

	<p>"Defeat enemy" means either you terminate them or they run from you. If it mentions a specific enemy, you don't necessarily need to win the battle as a whole to count it. But if it says, for example, "Defeat all trap tiles", you must end in victory.</p>

	<h1>Other variations</h1>

	<p><b>Blackout bingo</b> is where you complete ALL the squares on the card. Whether you need to defeat Chaos or not is up to the players to agree on before the game. You might also play co-op and split up the board, or competitively and try to complete before the other player.</p>

	<p><b>Lock-out</b> rules mean if one player lights a square, the other player is not allowed to (unless it is required by the anti-bingo challenge). You might block the other player's bingos by beating them to a square! If playing with a team, you might designate an offensive and defensive player, one going toward completion and one just blocking the other team. If the whole card is full, the team with more squares and/or more bingos might win, or get a time bonus after beating Chaos. You can choose your own house rules for the game.</p>

	<p><b>Reversal</b> rules mean if one player surrounds the other player's square, it flips that surrounded square too. If playing with lock-out rules too, this would flip control permanently!</p>

	<p><b>Your idea here!</b> The bingo website is just a tool, you can use it however you like. If you'd like to add some ideas to this document, or request a feature added to the website to help you play how you want to play, ping @adr on the discord and we'll see what we can do. Sometimes features are hard and might not happen, but sometimes they can be added very quickly so don't hesitate to ask and we'll see.</p>
</main>
