<div class="ff1-itemset itemset">
	<i class="earth"></i>
	<i class="fire"></i>
	<i class="water"></i>
	<i class="air"></i>

	<i class="bridge"></i>
	<i class="canal"></i>
	<i class="ship"></i>
	<i class="canoe"></i>

	<i class="floater triple"></i>
	<i class="crown"></i>
	<i class="key"></i>
	<i class="lute"></i>

	<i class="crystal"></i>
	<i class="herb"></i>
	<i class="tnt"></i>
	<i class="ruby"></i>

	<i class="tail"></i>
	<i class="bottle"></i>
	<i class="adamant"></i>
	<i class="slab triple"></i>

	<i class="rod"></i>
	<i class="oxyale"></i>
	<i class="chime"></i>
	<i class="cube"></i>
</div>

<div class="ffmq-itemset itemset">
	<i class="sword quadruple"></i>
	<i class="axe quadruple"></i>
	<i class="claw quadruple"></i>
	<i class="bomb quadruple"></i>

	<i class="helm quadruple"></i>
	<i class="armor quadruple"></i>
	<i class="shield quadruple"></i>
	<i class="amulet quadruple"></i>

	<i class="elixir"></i>
	<i class="tree-wither"></i>
	<i class="wakewater"></i>
	<i class="venus-key"></i>

	<i class="multi-key"></i>
	<i class="mask"></i>
	<i class="magic-mirror"></i>
	<i class="thunder-rock"></i>

	<i class="captain-cap"></i>
	<i class="libra-crest"></i>
	<i class="gemini-crest"></i>
	<i class="mobius-crest"></i>

	<i class="sand-coin"></i>
	<i class="river-coin"></i>
	<i class="sun-coin"></i>
	<i class="sky-coin"></i>
	<!-- spells:
		exit
		cure
		heal
		life

		quake
		blizzard
		fire
		aero

		thunder
		white
		meteor
		flare
	-->
</div>

<div class="ctjot-itemset itemset">
	<i class="crono"></i>
	<i class="marle"></i>
	<i class="lucca"></i>
	<i class="robo"></i>
	<i class="frog"></i>
	<i class="ayla"></i>
	<i class="magus"></i>

	<i class="badge"></i>
	<i class="hilt"></i>
	<i class="blade"></i>
	<i class="melchior"></i>
	<i class="masamune"></i>
	<i class="key"></i>
	<i class="rock"></i>

	<i class="pop"></i>
	<i class="pendant"></i>
	<i class="shell"></i>
	<i class="moonstone"></i>
	<i class="jerky"></i>
	<i class="ribbon"></i>

	<i class="magic"></i>
	<i class="tools"></i>
	<i class="doll"></i>
	<i class="trigger"></i>
	<i class="knife"></i>
	<i class="kitty"></i>

	<i class="go"></i>
</div>

<div class="cvaos-itemset itemset">
	<i class="bdash"></i>
	<i class="double"></i>
	<i class="slide"></i>
	<i class="kick"></i>
	<i class="hijump"></i>
	<i class="time"></i>

	<br />

	<i class="undine"></i>
	<i class="skulla"></i>

	<br />

	<i class="flying"></i>
	<i class="rush"></i>

	<i class="bat"></i>
	<i class="dash"></i>
</div>

<div class="cvsotn-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>

<div class="ff5cd-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<!-- a spacer
	<i class="item18"></i>-->

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>

<div class="metroidfusion-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>

<div class="smrpg-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>
	<i class="item7"></i>
	<i class="item14"></i>

	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>
	<i class="item13"></i>

	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>
	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>

	<!--<br />-->
	<span class="stars">
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
	<i class="item25"></i>
	<i class="item26"></i>
	<i class="item27"></i>
	<i class="item28"></i>
	</span>
</div>


<div class="smz3-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>
	<i class="item7"></i>

	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>
	<i class="item13"></i>
	<i class="item14"></i>

	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item19"></i>
	<i class="item20"></i>
	<!-- x-ray <i class="item21"></i> -->
	<!-- spacer <i class="item22"></i> -->
	<br />
	<i class="item23"></i>
	<i class="item18"></i>
	<i class="item24"></i>
	<i class="item17"></i>

	<!-- spacer <i class="item22"></i> -->
	<br />

	<i class="item25"></i>
	<i class="item26"></i>
	<!-- boomerangs not needed
	<i class="item27"></i>
	<i class="item28"></i>
	-->

	<i class="item29"></i>
	<!-- bomb not needed
	<i class="item30"></i>
	-->
	<i class="item31"></i>
	<i class="item32"></i>
	<i class="item33"></i>
	<i class="item34"></i>

	<i class="item35"></i>
	<i class="item36"></i>
	<i class="item37"></i>
	<i class="item38"></i>
	<i class="item39"></i>
	<i class="item40"></i>

	<!-- blue cane not needed
	<i class="item41"></i>
	-->
	<i class="item42"></i>
	<i class="item43"></i>
	<!-- bug net <i class="item44"></i> -->
	<i class="item45"></i>
	<i class="item46"></i>
	<i class="item47"></i>
	<i class="item48"></i>
	<i class="item49"></i>
	<i class="item50"></i>
	<i class="item51"></i>
	<i class="item52"></i>
	<i class="item53"></i>
	<!-- 1/2 thing not needed
	<i class="item54"></i>
	-->

	<i class="pentuple item55"></i>
	<!-- only one sword needed
	<i class="item56"></i>
	<i class="item57"></i>
	<i class="item58"></i>
	-->
	<!-- spacers
	<i class="item59"></i>
	<i class="item60"></i>
	-->
	<!-- no shields or tunics needed
	<i class="item61"></i>
	<i class="item62"></i>
	<i class="item63"></i>
	<i class="item64"></i>
	<i class="item65"></i>
	<i class="item66"></i>
	-->
	<i class="item67"></i>
	<i class="item68"></i>
	<i class="item69"></i>
	<i class="item70"></i>
	<!--<i class="item71"></i>-->
	<i class="item72"></i>
	<i class="item73"></i>
	<i class="item74"></i>
	<i class="item75"></i>
	<i class="item76"></i>
	<i class="item77"></i>
	<i class="item78"></i>

</div>

<div class="earthbound-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>


<div class="faxanadu-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>

<div class="zelda1-itemset itemset">
	<i class="item1"></i>
	<i class="item15"></i>
	<i class="item21"></i>

	<i class="item23"></i>
	<i class="item6"></i>
	<i class="item18"></i>

	<i class="item13"></i>
	<i class="item14"></i>

	<i class="item20"></i>
	<i class="item10"></i>
	<i class="item5"></i>
	<i class="item22"></i>

	<i class="item9"></i>
	<i class="item2"></i>
	<i class="item3"></i>

	<i class="item4"></i>
	<i class="item12"></i>
	<i class="item19"></i>

	<i class="item11"></i>
	<i class="item17"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item16"></i>

	<i class="item24"></i>
</div>

<div class="zelda2-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>

	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>

	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>

	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>
	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
</div>

<div class="hollowknight-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>
	<i class="item7"></i>
	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>
	<i class="item13"></i>
	<i class="item14"></i>
	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
</div>


<div class="zeldamm-itemset itemset">
	<!-- spacers
	<i class="item1"></i>
	<i class="item6"></i>
	<i class="item18"></i>
	<i class="item30"></i>
	<i class="item12"></i>
	<i class="item24"></i>
	-->
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item7"></i>

	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item13"></i>
	<i class="item14"></i>

	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>

	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item25"></i>
	<i class="item26"></i>
	<i class="item27"></i>
	<i class="item28"></i>

	<i class="item29"></i>
	<i class="item31"></i>
	<i class="item32"></i>
	<i class="item33"></i>
	<i class="item34"></i>

	<i class="item35"></i>
	<i class="item36"></i>
	<i class="item37"></i>
	<i class="item38"></i>
	<i class="item39"></i>
	<i class="item40"></i>

	<i class="item41"></i>
	<i class="item42"></i>
	<i class="item43"></i>
	<i class="item44"></i>
	<i class="item45"></i>
	<i class="item46"></i>
	<i class="item47"></i>
	<i class="item48"></i>
	<i class="item49"></i>
	<i class="item50"></i>
	<i class="item51"></i>
	<i class="item52"></i>
	<i class="item53"></i>
	<i class="item54"></i>
	<i class="item55"></i>
	<i class="item56"></i>
	<i class="item57"></i>
	<i class="item58"></i>
	<i class="item59"></i>
	<i class="item60"></i>
</div>


<div class="soulblazer-itemset itemset">
	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>
	<i class="item7"></i>

	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>
	<i class="item13"></i>
	<i class="item14"></i>

	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>
	<i class="item19"></i>
	<i class="item20"></i>
	<i class="item21"></i>

	<i class="item22"></i>
	<i class="item23"></i>
	<i class="item24"></i>
	<i class="item25"></i>
	<i class="item26"></i>
	<i class="item27"></i>
	<i class="item28"></i>

	<i class="item29"></i>
	<i class="item30"></i>
	<i class="item31"></i>
	<i class="item32"></i>
</div>


<div class="metroidprime-itemset itemset">
	<div class="map">
		<i class="zone1"></i>
		<i class="zone2"></i>
		<i class="zone3"></i>
		<i class="zone4"></i>
		<i class="zone5"></i>
		<i class="zone6"></i>
		<i class="zone7"></i>
		<i class="zone8"></i>
		<i class="zone9"></i>
		<i class="zone10"></i>
		<i class="zone11"></i>
		<i class="zone12"></i>
	</div>

	<i class="item1"></i>
	<i class="item2"></i>
	<i class="item3"></i>
	<i class="item4"></i>
	<i class="item5"></i>
	<i class="item6"></i>
	<i class="item7"></i>

	<i class="item8"></i>
	<i class="item9"></i>
	<i class="item10"></i>
	<i class="item11"></i>
	<i class="item12"></i>
	<i class="item13"></i>
	<i class="item14"></i>

	<i class="item15"></i>
	<i class="item16"></i>
	<i class="item17"></i>
	<i class="item18"></i>
	<i class="item19"></i>
	<i class="item20"></i>
</div>


<div class="zelda3-itemset itemset">
	<i class="item25"></i>
	<i class="item26"></i>
	<!-- boomerangs not needed
	<i class="item27"></i>
	<i class="item28"></i>
	-->

	<i class="item29"></i>
	<!-- bomb not needed
	<i class="item30"></i>
	-->
	<i class="item31"></i>
	<i class="item32"></i>
	<i class="item33"></i>
	<i class="item34"></i>

	<i class="item35"></i>
	<i class="item36"></i>
	<i class="item37"></i>
	<i class="item38"></i>
	<i class="item39"></i>
	<i class="item40"></i>

	<!-- blue cane not needed
	<i class="item41"></i>
	-->
	<i class="item42"></i>
	<i class="item43"></i>
	<!-- bug net <i class="item44"></i> -->
	<i class="item45"></i>
	<i class="item46"></i>
	<i class="item47"></i>
	<i class="item48"></i>
	<i class="item49"></i>
	<i class="item50"></i>
	<i class="item51"></i>
	<i class="item52"></i>
	<i class="item53"></i>
	<!-- 1/2 thing not needed
	<i class="item54"></i>
	-->
	<i class="pentuple item55"></i>
	<!-- only one sword needed
	<i class="item56"></i>
	<i class="item57"></i>
	<i class="item58"></i>
	-->
	<!-- spacers
	<i class="item59"></i>
	<i class="item60"></i>
	-->
	<!-- no shields or tunics needed
	<i class="item61"></i>
	<i class="item62"></i>
	<i class="item63"></i>
	<i class="item64"></i>
	<i class="item65"></i>
	<i class="item66"></i>
	-->
	<i class="item67"></i>
	<i class="item68"></i>
	<i class="item69"></i>
	<i class="item70"></i>
	<!--<i class="item71"></i>-->
	<i class="item72"></i>
	<i class="item73"></i>
	<i class="item74"></i>
	<i class="item75"></i>
	<i class="item76"></i>
	<i class="item77"></i>
	<i class="item78"></i>

</div>


<div class="ff4ls-itemset itemset">
	<div class="character dkcecil"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character kain"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character rydia"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character tellah"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character edward"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character rosa"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character yang"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character porom"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character palom"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character pcecil"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character cid"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character edge"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character fusoya"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
	<div class="character golbez"><span class="palette"></span><span class="connector-arrow"></span><span class="option"></span></div>
</div>
