	<!--
	<i class="earth"></i>
	<i class="fire"></i>
	<i class="water"></i>
	<i class="air"></i>

	<i class="bridge"></i>
	<i class="canal"></i>
	<i class="ship"></i>
	<i class="canoe"></i>

	<i class="floater triple"></i>
	<i class="crown"></i>
	<i class="key"></i>
	<i class="lute"></i>

	<i class="crystal"></i>
	<i class="herb"></i>
	<i class="tnt"></i>
	<i class="ruby"></i>

	<i class="tail"></i>
	<i class="bottle"></i>
	<i class="adamant"></i>
	<i class="slab triple"></i>

	<i class="rod"></i>
	<i class="oxyale"></i>
	<i class="chime"></i>
	<i class="cube"></i>

	-->


	<!-- ffmq -->
	<i class="sword quadruple"></i>
	<i class="axe quadruple"></i>
	<i class="claw quadruple"></i>
	<i class="bomb quadruple"></i>

	<i class="helm quadruple"></i>
	<i class="armor quadruple"></i>
	<i class="shield quadruple"></i>
	<i class="amulet quadruple"></i>

	<i class="elixir"></i>
	<i class="tree-wither"></i>
	<i class="wakewater"></i>
	<i class="venus-key"></i>

	<i class="multi-key"></i>
	<i class="mask"></i>
	<i class="magic-mirror"></i>
	<i class="thunder-rock"></i>

	<i class="captain-cap"></i>
	<i class="libra-crest"></i>
	<i class="gemini-crest"></i>
	<i class="mobius-crest"></i>

	<i class="sand-coin"></i>
	<i class="river-coin"></i>
	<i class="sun-coin"></i>
	<i class="sky-coin"></i>

	<!-- spells:
		exit
		cure
		heal
		life

		quake
		blizzard
		fire
		aero

		thunder
		white
		meteor
		flare
	-->
