<main>
	<style>

		/*
		.tracker, .position, .comms, .clock {
			display: none !important;
		}
		*/

	/* body { transform: scale(0.5) } */

		/*
		        mode                   <main> class
			-----------------------------------------
			mutually exclusive layouts:
				1p             .layout-1p (not implemented)
				2p             .layout-2p
				3p/4p          .layout-4p (please note child #ffr-layout.player-4-showing)

			other settings:
				[ ] hide bingo .no-bingo (might relayout)
				[ ] show cameras (might relayout)
				[ ] show fundraising thing (should try to avoid changing layout)
				[ ] show additional info (blurses etc) (should try to avoid changing layout)

			Tracker (independent of previous groups, might even be different per-player like with AP):
				FF1            .ff1-itemset
				FFMQ           .ffmq-itemset
			Images (independent again):
				whatever decorations; logo and backgrounds

				Background
				Logo (FFMQ for example)
				Finished (bridge scene)

				Loading Screen

				Also the box style should be in there
		*/

		* {
			box-sizing: border-box;
		}

		#ffr-layout {
			width: 1280px;
			height: 720px;

			color: white;
			position: relative;
		}

		.comms {
			--size: 20px;
		}

		.comms span {
			white-space: nowrap;
		}

		.position,
		.player-camera {
			display: none; /* hide these by default, the layouts can choose to show them again when .show-rank-boxes and .show-cameras are on the top element */
		}

		.funds-raised {
			font-size: 40px;
			position: absolute;
			right: 20px;
			bottom: 16px;
			text-align: right;
		}

		.logo {
			width: 400px;
			height: 150px;
			position: absolute;
			left: 450px;
			bottom: 60px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}

		#loading-screen {
			background-image: url("/assets/tracker/loading_screen.webp");
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			white-space: pre;
			z-index: 1000;
		}

		.transparent-itemset,
		.transparent {
			background: transparent !important;
		}

		.box {
			border: ridge 3px white;
			border-radius: 2px;
		}

		.gameplay {
			position: absolute;
		}

		.name {
			white-space: nowrap;
		}

		.name, .tracker {
			background-color: #008;
		}

		.position {
			background-color: black;
		}

		.winner {
			background-color: black;
			font-size: 22px;
			padding: 4px 20px;
			display: none;
		}

		.tracker.null-itemset {
			display: none;
		}

		.tracker > img {
			height: 20px;
			width: 20px;
			margin: 1px;
		}

		[class|=positioned] > * {
			position: absolute;
			--x: 4px;
			--y: 4px;
		}

		.positioned-ul > * {
			left: var(--x);
			top: var(--y);
		}
		.positioned-ur > * {
			right: var(--x);
			top: var(--y);
		}
		.positioned-bl > * {
			left: var(--x);
			bottom: var(--y);
		}
		.positioned-br > * {
			right: var(--x);
			bottom: var(--y);
		}

		.positioned-ur .name,
		.positioned-br .name {
			text-align: right;
			padding-right: 2px;
		}

		.clock {
			background-color: black;
		}

		.comms {
			background-color: black;
		}

		.comms > div {
			display: none;
		}

		.comms > div > div > span:first-child {
			position: absolute;
			top: 6px;
		}
		.comms > div > div > span {
			position: absolute;
			bottom: 6px;
		}

		.gameplay.finished {
			background: url("/assets/tracker/bridge-scene-nes.png");
			background-size: cover;
		}

		.bingo {
			background-color: black;
		}
	</style>

	<link rel="stylesheet" id="theme-stylesheet" href="/assets/tracker/themes/marathon.css" />
	<link rel="stylesheet" id="layout-stylesheet" href="/assets/tracker/layouts/marathon-1p.css" />
	<link rel="stylesheet" id="logo-stylesheet" href="/assets/tracker/logos/null.css" />

	<div id="ffr-layout">
		<div class="positioned-ul">
			<render-template file="tracker/player-box.html" data="{&quot;player&quot;: 1}" />
		</div>
		<div class="positioned-ur">
			<render-template file="tracker/player-box.html" data="{&quot;player&quot;: 2}" />
		</div>
		<div class="positioned-bl">
			<render-template file="tracker/player-box.html" data="{&quot;player&quot;: 3}" />
		</div>
		<div class="positioned-br" style="display: none;" data-property="player-4-showing">
			<render-template file="tracker/player-box.html" data="{&quot;player&quot;: 4}" />
		</div>

		<div class="game-type box">
			<span class="game-name" data-property="game-type"></span>
			<span class="game-system" data-property="game-system"></span>
			<span class="game-goal" data-property="game-goal"></span>
		</div>

		<div class="comms box">
			<div>
				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(60, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					top: calc(50% - 10px);
				" />

				<div style="margin-left: 22px;">
					<span data-property="comms-1"></span>
					<br />
					<span data-property="comms-2"></span>
				</div>
			</div>

			<div>
				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(20, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					top: 6px;
					height: var(--size);
					width: var(--size);
				" />


				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(40, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					bottom: 6px;
					width: var(--size);
					height: var(--size);
				" />

				<div style="margin-left: 26px;">
					<span data-property="restreamer"></span>
					<br />
					<span data-property="tracker"></span>
				</div>
			</div>

		</div>


		<div class="bingo box">
			<iframe
				style="
					position: absolute;
					left: 0px;
					top: 0px;
					width: 640px;
					height: 770px;
					overflow: hidden;
					transform: scaleX(0.75) scaleY(0.75);
					transform-origin: 0 0;
				"
				scrolling="no"
				src="restream?restream#card-container"></iframe>
		</div>

		<div class="logo"></div>

		<div class="funds-raised"><span data-property="funds-raised"></span></div>

		<div id="loading-screen" style="display: none;" data-property="loading-screen-showing">
			<div style="
				position: absolute;
				left: 80px;
				top: 130px;
				width: 405px;
				height: 240px;
				color: white;
				font-size: 32px;

				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			"><span data-property="loading-screen-text"></span>
			</div>
		</div>
	</div>

<script>
	var data = <%= data %>;
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		for(key in data) {
			var value = data[key];
			updateTrackerProperty(key, value);
		}
	});

	var source = new EventSource("event-stream");

	function reloadPage() {
		location.reload();
	}

	var sourceTimeout;
	function keepalive(period) {
		if(!period)
			period = 18000;
		if(sourceTimeout)
			clearTimeout(sourceTimeout);
		sourceTimeout = setTimeout(reloadPage, period);
	}

	keepalive();

	source.addEventListener("keepalive", function() { keepalive(); });

	source.addEventListener("tracker_update", function(event) {
		var obj = JSON.parse(event.data);

		updateTrackerProperty(obj.key, obj.value);

		keepalive();
	});


</script>

<script>
	// comms / tracker rotation
	var showingCommsCounter = 0;
	function showingCommsUpdate() {
		var divs = document.querySelectorAll(".comms > div");
		for(var i = 0; i < divs.length; i++) {
			divs[i].style.display = (i == showingCommsCounter) ? 'block' : 'none';
		}
		showingCommsCounter = showingCommsCounter ? 0 : 1;

		if(showingCommsCounter)
			setTimeout(showingCommsUpdate, 4000);//60000);
		else
			setTimeout(showingCommsUpdate, 4000);//15000);
	}
	showingCommsUpdate();
</script>

<script>
	window.addEventListener("load", function() {
		findTransparentRectanglesQueue();
	});
</script>

</main>
