<main>
	<style>
		* {
			box-sizing: border-box;
		}

		.info-area div {
			white-space: pre-line;
		}

		.speaking-now {
			/*
			text-decoration: underline;
			*/
			/*
			text-shadow:
				-1px -1px 8px green,
				1px -1px 8px green,
				-1px 1px 8px green,
				1px 1px 8px green,
				0px 0px 8px green
			;
			*/
		}

		.speaking-now::after {
			content: " •";
			color: #00ff00;
		}

		.info-area {
			display: none;
			opacity: 0;
			transition: opacity 0.5s;
		}

		.info-area.actively-showing {
			display: block;
			opacity: 1;
			transition: opacity 0.5s;
		}

		.player-pronoun {
			font-size: 50%;
		}

		.info-area > div {
			margin: 0px;
			padding: 4px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			display: none;
		}

		#ffr-layout {
			width: 1280px;
			height: 720px;

			color: white;
			position: relative;
		}

		.comms {
			--size: 20px;
		}

		.comms span {
			white-space: nowrap;
		}

		.team-name,
		.position,
		.player-camera {
			display: none; /* hide these by default, the layouts can choose to show them again when .show-rank-boxes and .show-cameras are on the top element */
		}

		.funds-raised,
		.more-info-top,
		.more-info-bottom {
			display: none;
		}

		.funds-raised {
			font-size: 40px;
			position: absolute;
			right: 20px;
			bottom: 16px;
			text-align: right;
		}

		.secondary-logo,
		.logo {
			width: 400px;
			height: 150px;
			position: absolute;
			left: 450px;
			bottom: 60px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.secondary-logo {
			display: none;
		}

		#loading-screen {
			background-image: url("/assets/tracker/loading_screen.webp");
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			white-space: pre;
			z-index: 1000;
		}

		.transparent-itemset,
		.transparent {
			background: transparent !important;
		}

		.box {
			border: ridge 3px white;
			border-radius: 2px;
		}

		.gameplay {
			position: absolute;
		}

		.name {
			white-space: nowrap;
		}

		.name, .tracker {
			background-color: #008;
		}

		.position {
			background-color: black;
		}

		.winner {
			background-color: black;
			font-size: 22px;
			padding: 4px 20px;
			display: none;
		}

		.tracker.null-itemset {
			display: none;
		}

		.tracker > img {
			height: 20px;
			width: 20px;
			margin: 1px;
		}

		[class|=positioned] > * {
			position: absolute;
			--x: 4px;
			--y: 4px;
		}

		.positioned-ul > * {
			left: var(--x);
			top: var(--y);
		}
		.positioned-ur > * {
			right: var(--x);
			top: var(--y);
		}
		.positioned-bl > * {
			left: var(--x);
			bottom: var(--y);
		}
		.positioned-br > * {
			right: var(--x);
			bottom: var(--y);
		}

		.positioned-ur .name,
		.positioned-br .name {
			text-align: right;
			padding-right: 2px;
		}

		.clock {
			background-color: black;
		}

		.comms {
			background-color: black;
		}

		.comms > div {
			display: none;
		}

		/*
		[data-property="comms-1"]:has(~ span:empty) {
			top: 16px;
		}
		*/

		.comms > div > div > span:first-child {
			position: absolute;
			top: 6px;
		}
		.comms > div > div > span {
			position: absolute;
			bottom: 6px;
		}

		.gameplay.finished {
			background: url("/assets/tracker/bridge-scene-nes.png");
			background-size: cover;
		}

		.bingo {
			background-color: black;
		}
	</style>

	<link rel="stylesheet" id="theme-stylesheet" href="/assets/tracker/themes/marathon.css" />
	<link rel="stylesheet" id="layout-stylesheet" href="/assets/tracker/layouts/marathon-1p.css" />
	<link rel="stylesheet" id="logo-stylesheet" href="/assets/tracker/logos/null.css" />

	<style>
		.gameplay {
			width: 300px;
			height: 225px;
		}

		.tracker {
			position: absolute;
			width: 300px;
			height: 120px;
			padding-top: 5px;
			text-align: center;
		}

		.name {
			position: absolute;
			width: 170px;
		}

		.comms {
			top: 100px;
			left: 505px;
		}

		.logo {
			top: 4px;
			left: 320px;
			width: 210px;
		}

		.secondary-logo {
			top: 4px;
			left: 540px;
			width: 140px;
		}

		.team-name {
			display: block;
			position: absolute;
			width: 300px;
			text-align: center;
		}

		.clock {
			position: absolute;
		}

		.team-logo-holder {
			display: flex;
			align-content: center;
			justify-content: center;
		}

		.team-logo-holder img {
			max-width: 100%;
			max-height: 100%;
		}
	</style>

	<div id="ffr-layout">

<div class="gameplay transparent box" style="top: 8px; left: 4px;"></div>
<div class="gameplay transparent box" style="top: 246px; left: 4px;"></div>
<div class="gameplay transparent box" style="top: 484px; left: 4px;"></div>
<div class="gameplay transparent box" style="top: 484px; left: 318px;"></div>

<div class="gameplay transparent box" style="top: 8px; right: 4px;"></div>
<div class="gameplay transparent box" style="top: 246px; right: 4px;"></div>
<div class="gameplay transparent box" style="top: 484px; right: 4px;"></div>
<div class="gameplay transparent box" style="top: 484px; right: 318px;"></div>

<div class="clock box" style="
	left: 318px;
	top: 90px;
">
	<span class="final-time" data-property="player-1-time"></span>
	<span class="active-clock">0:00:00</span>
</div>
<div class="clock box" style="
	right: 318px;
	top: 90px;
">
	<span class="final-time" data-property="player-2-time"></span>
	<span class="active-clock">0:00:00</span>
</div>

<div class="team-logo-holder" style="
	position: absolute;
	left: 494px;
	top: 190px;
	width: 120px;
	height: 120px;
	background: black;
"><img src="/assets/alt2-small.png" />
</div>

<div class="team-logo-holder" style="
	position: absolute;
	right: 494px;
	top: 190px;
	width: 120px;
	height: 120px;
	background: black;
">
<img src="/assets/tof_logo-small.png" />
</div>


<div style="
	left: 318px;
	top: 124px;
" class="name box">
	<div class="element-container player-name"><span>2BigEyes</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	left: 318px;
	top: 173px;
" class="name box">
	<div class="element-container player-name"><span>ProphetofRetro</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	left: 318px;
	top: 222px;
" class="name box">
	<div class="element-container player-name"><span>se7en5se7en</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	left: 318px;
	top: 271px;
" class="name box">
	<div class="element-container player-name"><span>FredFuchs</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	right: 318px;
	top: 124px;
	text-align: right;
" class="name box">
	<div class="element-container player-name"><span>Shoombabi</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	right: 318px;
	top: 173px;
	text-align: right;
" class="name box">
	<div class="element-container player-name"><span>LuffyDV</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	right: 318px;
	top: 222px;
	text-align: right;
" class="name box">
	<div class="element-container player-name"><span>Chanigan</span></div>
	<span class="player-pronoun">he/him</span>
</div>

<div style="
	right: 318px;
	top: 271px;
	text-align: right;
" class="name box">
	<div class="element-container player-name"><span>picklesandbeer</span></div>
	<span class="player-pronoun">he/him</span>
</div>



		<div style="
			left: 318px;
			top: 320px;
		" class="team-name box squeeze-vertically">
			<span data-property="player-1-team"></span>
		</div>

		<div style="
			right: 318px;
			top: 320px;
		" class="team-name box squeeze-vertically">
			<span data-property="player-2-team"></span>
		</div>

		<div style="
			left: 318px;
			top: 354px;
		" data-property="player-1-itemset" data-property-prefix="item-player-1-" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>

		<div style="
			right: 318px;
			top: 354px;
		" data-property="player-2-itemset" data-property-prefix="item-player-2-" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>



		<div class="game-type box">
			<div class="element-container"><span class="game-name" data-property="game-type"></span></div>
			<span class="game-system" data-property="game-system"></span>
			<span class="game-goal" data-property="game-goal"></span>
		</div>

		<div class="comms box">
			<div>
				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(60, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					top: calc(50% - 10px);
				" />

				<div style="margin-left: 22px;">
					<span data-property="comms-1" data-speaking-role="1"></span>
					<br />
					<span data-property="comms-2" data-speaking-role="2"></span>
				</div>
			</div>

			<div>
				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(20, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					top: 6px;
					height: var(--size);
					width: var(--size);
				" />


				<img alt="+" width="20" height="20" src="/assets/tracker/sprite.svg#svgView(viewBox(40, 0, 20, 20))" style="
					position: absolute;
					left: 2px;
					bottom: 6px;
					width: var(--size);
					height: var(--size);
				" />

				<div style="margin-left: 26px;">
					<span data-property="restreamer" data-speaking-role="4"></span>
					<br />
					<span data-property="tracker" data-speaking-role="3"></span>
				</div>
			</div>

		</div>

		<div class="logo"></div>
		<div class="secondary-logo"></div>

		<div class="info-area box">
			<div class="squeeze-vertically"><span data-property="info-text-1"></span></div>
			<div class="squeeze-vertically"><span data-property="info-text-2"></span></div>
			<div class="squeeze-vertically"><span data-property="info-text-3"></span></div>
			<div class="squeeze-vertically"><span data-property="info-text-4"></span></div>
			<div class="squeeze-vertically"><span data-property="info-text-5"></span></div>
			<div class="squeeze-vertically"><span data-property="info-text-6"></span></div>
		</div>

		<div class="funds-raised"><span data-property="funds-raised"></span></div>

		<div id="normal-footer-1" class="more-info-top"><span data-property="more-info-top"></span></div>
		<div id="normal-footer-2" class="more-info-bottom"><span data-property="more-info-bottom"></span></div>

		<div id="incentive-footer-1" style="display: none;" class="more-info-top"><span></span></div>
		<div id="incentive-footer-2" style="display: none;" class="more-info-bottom"><span></span></div>

		<if-true cond="!data.skipOverlays">
			<div id="loading-screen" style="display: none;" data-property="loading-screen-showing">
				<div class="loading-screen-text squeeze-vertically"><span data-property="loading-screen-text"></span></div>
				<div class="loading-screen-primary-logo"></div>
				<div class="loading-screen-long-text squeeze-vertically">
				</div>
				<div class="loading-screen-secondary-logo"></div>
			</div>
		</if-true>
	</div>

<script>
	var data = <%= data %>;
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		activateTracking(data, function() { location.reload(); } );
	});
</script>

<script>
	// comms / tracker rotation
	var showingCommsCounter = 0;
	function showingCommsUpdate() {
		var divs = document.querySelectorAll(".comms > div");
		for(var i = 0; i < divs.length; i++) {
			divs[i].style.display = (i == showingCommsCounter) ? 'block' : 'none';
		}
		showingCommsCounter = showingCommsCounter ? 0 : 1;

		if(showingCommsCounter)
			setTimeout(showingCommsUpdate, 60000);
		else
			setTimeout(showingCommsUpdate, 15000);
	}
	showingCommsUpdate();
</script>

<script>
	window.addEventListener("load", function() {
		findTransparentRectanglesQueue();
	});

	var allIncentives = [];
	var incentiveRotationTimeout = null;

	function showRandomIncentive() {
		var options = [];
		allIncentives.forEach(function(game) {
			game.gameIncentives.forEach(function(incentive) {
				options.push({"gameName": game.gameName, "incentive": incentive});
			});
		});

		var choice = Math.floor(Math.random() * options.length);

		document.getElementById("normal-footer-1").style.display = "none";
		document.getElementById("normal-footer-2").style.display = "none";

		var i1 = document.getElementById("incentive-footer-1");
		var i2 = document.getElementById("incentive-footer-2");

		var s1 = i1.querySelector("span");
		s1.textContent = options[choice].gameName;
		var s2 = i2.querySelector("span");
		s2.textContent = options[choice].incentive;

		i1.style.display = null;
		i2.style.display = null;

		makeTextFit(s1);
		makeTextFit(s2);
	}

	function showNormalIncentiveFooter() {
		document.getElementById("incentive-footer-1").style.display = "none";
		document.getElementById("incentive-footer-2").style.display = "none";

		document.getElementById("normal-footer-1").style.display = null;
		document.getElementById("normal-footer-2").style.display = null;
	}

	var incentiveRotationTime = 30000;

	var rotateIncentivePosition = 0;
	function rotateIncentive() {
		rotateIncentivePosition += 1;
		if(rotateIncentivePosition % 4 == 0)
			showNormalIncentiveFooter();
		else
			showRandomIncentive();
		incentiveRotationTimeout = setTimeout(rotateIncentive, incentiveRotationTime);

	}

	var updateLoadingScreenLongTextWithIncentivesTmeout = null;
	function updateLoadingScreenLongTextWithIncentives(page) {
		updateLoadingScreenLongTextWithIncentivesTmeout = null;
		var all = allIncentives;

		var hadAnotherPage = false;

		var div = document.querySelector(".loading-screen-long-text"); // can hold 12 lines...
		if(div == null)
			return;
		var remainingLines = 12;
		div.innerHTML = "";

		var h3 = document.createElement("h3");
		h3.textContent = "Donation Incentives:";
		div.appendChild(h3);

		var skip = remainingLines * page;

		all.forEach(function(game) {
			if(game.gameIncentives.length == 0)
				return; // nothing to show, don't even need header for an empty list

			if(skip > 0) {
				if(skip >= 1 + game.gameIncentives.length) {
					skip -= 1 + game.gameIncentives.length;
					return;
				}

				skip -= 1; // for the header
			}

			if(remainingLines > 1) {
				// if only room for the header, save it for next time
				// but still kinda pretend to count down to keep track of pagination
				var h4 = document.createElement("h4");
				var s = document.createElement("span");
				s.textContent = game.gameName;
				s.style.whiteSpace = "nowrap";
				h4.appendChild(s);
				div.appendChild(h4);

				makeTextFit(s);
			}

			remainingLines -= 1;

			game.gameIncentives.forEach(function(incentive) {
				if(skip > 0) {
					skip -= 1;
					return;
				}
				if(remainingLines <= 0) {
					hadAnotherPage = true;
					return;
				}

				var p = document.createElement("p");
				var s = document.createElement("span");
				s.textContent = incentive;
				s.style.whiteSpace = "nowrap";
				p.appendChild(s);
				div.appendChild(p);

				makeTextFit(s);

				remainingLines -= 1;
			});
		});

		var nextPage = hadAnotherPage ? page + 1 : 0;

		updateLoadingScreenLongTextWithIncentivesTmeout = setTimeout(function() { updateLoadingScreenLongTextWithIncentives(nextPage); }, 15000);
	}

	function receiveIncentivesUpdate(json) {
		var all = JSON.parse(json);
		allIncentives = all;

		if(incentiveRotationTimeout) {
			clearTimeout(incentiveRotationTimeout);
			incentiveRotationTimeout = null;
			showNormalIncentiveFooter();
		}

		if(updateLoadingScreenLongTextWithIncentivesTmeout) {
			clearTimeout(updateLoadingScreenLongTextWithIncentivesTmeout);
			updateLoadingScreenLongTextWithIncentivesTmeout = null;
		}

		if(all.length == 0)
			return;

		incentiveRotationTimeout = setTimeout(rotateIncentive, incentiveRotationTime);

		updateLoadingScreenLongTextWithIncentives(0);
	}

	var ws = new WebSocket("ws://127.0.0.1:10542/");
	ws.onmessage = function (evt) { 
		var msg = JSON.parse(evt.data);
		document.querySelectorAll("[data-speaking-role=\""+msg.role+"\"]").forEach(function(e) {
			e.classList[msg.speaking ? "add" : "remove"]("speaking-now");
		});
	};
</script>

</main>
