<div class="name box">
	<div class="element-container player-name"><span data-property="player-<%=data.player%>-name" data-speaking-role="<%=data.player+4%>"></span></div>
	<span class="player-pronoun" data-property="player-<%=data.player%>-pronoun"></span>
</div>

<div data-property="player-<%=data.player%>-itemset" data-property-prefix="item-player-<%=data.player%>-" class="tracker box">
	<render-template file="tracker/item-tracker-fragment.html" />
</div>

<div class="team-name box squeeze-vertically">
	<span data-property="player-<%=data.player%>-team"></span>
</div>

<div data-property="player-<%=data.player%>-team" class="color box transparent">
	<!-- the color thing -->
</div>

<div class="clock box">
	<span class="final-time" data-property="player-<%=data.player%>-time"></span>
	<span class="active-clock">0:00:00</span>
</div>

<div class="wins-counter" data-property="player-<%=data.player%>-wins"></div>

<div class="position box">
	<span data-property="player-<%=data.player%>-ranking"></span>
</div>

<div>
	<!-- the sound on indicator -->
</div>

<div class="gameplay transparent box"></div>

<div class="player-camera transparent box"></div>

<div class="winner box" data-property="player-<%=data.player%>-showing-text"><span data-property="player-<%=data.player%>-text">Winner</span></div>
