<main>
<div id="tracker">
	<style>

		#tracker fieldset {
			display: inline-block;
			vertical-align: top;
			width: 40%;
		}

		#tracker label > span {
			display: block;
		}


		.box {
			border: ridge 3px white;
			border-radius: 2px;
		}

		.tracker {
			background-color: #008;
		}
		#tracker .tracker i {
			width: 32px;
			height: 32px;
		}

		.ffmq-itemset #tracker .tracker {
			height: 84px !important;
			width: 530px !important;
		}

		.ffmq-itemset #tracker .tracker i {
			width: 40px;
			height: 40px;
		}

		.tracker i {
			opacity: 0.6;
			filter: greyscale(1);
		}

		#hover-info {
			background: black;
			color: white;
			padding: 4px;
			border: solid 1px white;
			position: absolute;
			z-index: 999;
		}
	</style>

	<div style="display: none;" id="hover-info"></div>

	<label>
		<span>Layout:</span>
		<select name="layout-sheet">
			<optgroup label="Plain">
				<option value="2p.css">2p</option>
				<option value="4p.css">4p</option>
			</optgroup>
			<optgroup label="Bingo">
				<option value="bingo-2p.css">Bingo 2p</option>
				<option value="bingo-4p.css">Bingo 4p</option>
			</optgroup>
			<optgroup label="Fundraiser">
				<option value="marathon-1p.css">Marathon 1p</option>
				<option value="marathon-2p.css">Marathon 2p</option>
				<option value="marathon-4p.css">Marathon 4p</option>
			</optgroup>
		</select>
	</label>

	<br />
	<label><input name="show-rank-boxes" type="checkbox" /> Show Rank Boxes</label>
	<br />
	<label><input name="show-cameras" type="checkbox" /> Show Cameras</label>


	<label>
		<span>Style Theme:</span>
		<select name="style-sheet">
			<option value="fog.css">Blue Fog</option>
			<option value="bubbles.css">DAB Bubbles</option>
			<option value="marathon.css">Liam Event</option>
		</select>
	</label>

	<label>
		<span>Logo:</span>
		<select name="logo-sheet">
			<option value="null.css">None</option>
			<option value="ffr.css">FFR</option>
			<option value="dab.css">DAB</option>
			<option value="ffmq.css">FFMQ</option>
			<option value="marathon.css">FFR 2022 Marathon</option>
		</select>
	</label>

	<br />
	<label>
		Game Name
		<input name="game-type" type="text" />
	</label>

	<br />
	<label>
		Game System
		<input name="game-system" type="text" />
	</label>

	<br />
	<label>
		Game Goal
		<input name="game-goal" type="text" />
	</label>

	<br />
	<label>
		Funds Raised
		<input name="funds-raised" type="text" />
	</label>


	<br style="clear: both;" />

	<fieldset>
		<legend>Player 1 (upper left)</legend>

		<label><select name="player-1-itemset">
			<option value="null-itemset">No tracker</option>
			<option value="transparent-itemset">Transparent (restreamer can crop runner's own tracker)</option>
			<option value="ff1-itemset">FF1 Items</option>
			<option value="ffmq-itemset">FFMQ Items</option>

			<option value="ctjot-itemset">CT JOT Items</option>
			<option value="cvaos-itemset">CV AOS Items</option>
			<option value="cvsotn-itemset">CV SOTN Items</option>
			<option value="ff5cd-itemset">FF5 CD Items</option>
			<option value="hollowknight-itemset">Hollow Knight Items</option>
			<option value="metroidfusion-itemset">Metroid Fusion Items</option>
			<option value="metroidprime-itemset">Metroid Prime Items</option>
			<option value="smrpg-itemset">SM RPG Items</option>
			<option value="smz3-itemset">SMZ3 Items</option>
			<option value="soulblazer-itemset">Soul Blazer Items</option>
			<option value="zelda1-itemset">Zelda 1 Items</option>
			<option value="zelda2-itemset">Zelda 2 Items</option>
			<option value="zeldamm-itemset">Zelda Majora's Mask Items</option>
			<option value="faxanadu-itemset">Faxanadu Items</option>
			<option value="earthbound-itemset">Earthbound Items</option>
		</select></label>

		<div data-property="player-1-itemset" data-property-prefix="item-player-1-" style="font-size: 0px; width: 440px; --x: 130px; --y: 306px; height: 70px;" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>

		<label><span>Name</span> <input type="text" name="player-1-name" /></label>
		<label><span>Pronouns</span> <input type="text" name="player-1-pronoun" /></label>
		<label><span>Ranking/position</span> <input type="text" name="player-1-ranking" /></label>
		<label><span>Team</span> <input type="text" name="player-1-team" /></label>

		<label><span>Final time</span> <input type="text" name="player-1-time" /></label>
		<br />
		<label><input type="checkbox" name="player-1-showing-text" /></label>
		<label><input type="text" name="player-1-text" value="Winner" /></label>
	</fieldset>

	<fieldset>
		<legend>Player 2 (upper right)</legend>


		<label><select name="player-2-itemset">
			<option value="null-itemset">No tracker</option>
			<option value="transparent-itemset">Transparent (restreamer can crop runner's own tracker)</option>
			<option value="ff1-itemset">FF1 Items</option>
			<option value="ffmq-itemset">FFMQ Items</option>

			<option value="ctjot-itemset">CT JOT Items</option>
			<option value="cvaos-itemset">CV AOS Items</option>
			<option value="cvsotn-itemset">CV SOTN Items</option>
			<option value="ff5cd-itemset">FF5 CD Items</option>
			<option value="hollowknight-itemset">Hollow Knight Items</option>
			<option value="metroidfusion-itemset">Metroid Fusion Items</option>
			<option value="metroidprime-itemset">Metroid Prime Items</option>
			<option value="smrpg-itemset">SM RPG Items</option>
			<option value="smz3-itemset">SMZ3 Items</option>
			<option value="soulblazer-itemset">Soul Blazer Items</option>
			<option value="zelda1-itemset">Zelda 1 Items</option>
			<option value="zelda2-itemset">Zelda 2 Items</option>
			<option value="zeldamm-itemset">Zelda Majora's Mask Items</option>
			<option value="faxanadu-itemset">Faxanadu Items</option>
			<option value="earthbound-itemset">Earthbound Items</option>
		</select></label>

		<div data-property="player-2-itemset" data-property-prefix="item-player-2-" style="font-size: 0px; width: 440px; --x: 130px; --y: 306px; height: 70px;" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>

		<label><span>Name</span> <input type="text" name="player-2-name" /></label>
		<label><span>Pronouns</span> <input type="text" name="player-2-pronoun" /></label>
		<label><span>Ranking/position</span> <input type="text" name="player-2-ranking" /></label>
		<label><span>Team</span> <input type="text" name="player-2-team" /></label>

		<label><span>Final time</span> <input type="text" name="player-2-time" /></label>
		<br />
		<label><input type="checkbox" name="player-2-showing-text" /></label>
		<label><input type="text" name="player-2-text" value="Winner" /></label>
	</fieldset>

	<fieldset>
		<legend>Player 3 (bottom left)</legend>

		<label><select name="player-3-itemset">
			<option value="null-itemset">No tracker</option>
			<option value="transparent-itemset">Transparent (restreamer can crop runner's own tracker)</option>
			<option value="ff1-itemset">FF1 Items</option>
			<option value="ffmq-itemset">FFMQ Items</option>

			<option value="ctjot-itemset">CT JOT Items</option>
			<option value="cvaos-itemset">CV AOS Items</option>
			<option value="cvsotn-itemset">CV SOTN Items</option>
			<option value="ff5cd-itemset">FF5 CD Items</option>
			<option value="hollowknight-itemset">Hollow Knight Items</option>
			<option value="metroidfusion-itemset">Metroid Fusion Items</option>
			<option value="metroidprime-itemset">Metroid Prime Items</option>
			<option value="smrpg-itemset">SM RPG Items</option>
			<option value="smz3-itemset">SMZ3 Items</option>
			<option value="soulblazer-itemset">Soul Blazer Items</option>
			<option value="zelda1-itemset">Zelda 1 Items</option>
			<option value="zelda2-itemset">Zelda 2 Items</option>
			<option value="zeldamm-itemset">Zelda Majora's Mask Items</option>
			<option value="faxanadu-itemset">Faxanadu Items</option>
			<option value="earthbound-itemset">Earthbound Items</option>
		</select></label>

		<div data-property="player-3-itemset" data-property-prefix="item-player-3-" style="font-size: 0px; width: 440px; --x: 130px; --y: 306px; height: 70px;" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>

		<label><span>Name</span> <input type="text" name="player-3-name" /></label>
		<label><span>Pronouns</span> <input type="text" name="player-3-pronoun" /></label>
		<label><span>Ranking/position</span> <input type="text" name="player-3-ranking" /></label>
		<label><span>Team</span> <input type="text" name="player-3-team" /></label>

		<label><span>Final time</span> <input type="text" name="player-3-time" /></label>
		<br />
		<label><input type="checkbox" name="player-3-showing-text" /></label>
		<label><input type="text" name="player-3-text" value="Winner" /></label>
	</fieldset>

	<fieldset>
		<legend>Player 4 (bottom right)</legend>

		<label><select name="player-4-itemset">
			<option value="null-itemset">No tracker</option>
			<option value="transparent-itemset">Transparent (restreamer can crop runner's own tracker)</option>
			<option value="ff1-itemset">FF1 Items</option>
			<option value="ffmq-itemset">FFMQ Items</option>

			<option value="ctjot-itemset">CT JOT Items</option>
			<option value="cvaos-itemset">CV AOS Items</option>
			<option value="cvsotn-itemset">CV SOTN Items</option>
			<option value="ff5cd-itemset">FF5 CD Items</option>
			<option value="hollowknight-itemset">Hollow Knight Items</option>
			<option value="metroidfusion-itemset">Metroid Fusion Items</option>
			<option value="metroidprime-itemset">Metroid Prime Items</option>
			<option value="smrpg-itemset">SM RPG Items</option>
			<option value="smz3-itemset">SMZ3 Items</option>
			<option value="soulblazer-itemset">Soul Blazer Items</option>
			<option value="zelda1-itemset">Zelda 1 Items</option>
			<option value="zelda2-itemset">Zelda 2 Items</option>
			<option value="zeldamm-itemset">Zelda Majora's Mask Items</option>
			<option value="faxanadu-itemset">Faxanadu Items</option>
			<option value="earthbound-itemset">Earthbound Items</option>
		</select></label>

		<div data-property="player-4-itemset" data-property-prefix="item-player-4-" style="font-size: 0px; width: 440px; --x: 130px; --y: 306px; height: 70px;" class="tracker box">
			<render-template file="tracker/item-tracker-fragment.html" />
		</div>

		<label><input type="checkbox" name="player-4-showing" /> Showing Player 4</label>


		<label><span>Name</span> <input type="text" name="player-4-name" /></label>
		<label><span>Pronouns</span> <input type="text" name="player-4-pronoun" /></label>
		<label><span>Ranking/position</span> <input type="text" name="player-4-ranking" /></label>
		<label><span>Team</span> <input type="text" name="player-4-team" /></label>

		<label><span>Final time</span> <input type="text" name="player-4-time" /></label>
		<br />
		<label><input type="checkbox" name="player-4-showing-text" /></label>
		<label><input type="text" name="player-4-text" value="Winner" /></label>
	</fieldset>

	<fieldset>
		<legend>Broadcast Team</legend>

		<label><span>Comms #1</span> <input type="text" name="comms-1" /></label>
		<label><span>Comms #2</span> <input type="text" name="comms-2" /></label>
		<label><span>Restreamer</span> <input type="text" name="restreamer" /></label>
		<label><span>Tracker</span> <input type="text" name="tracker" /></label>
	</fieldset>

	<fieldset>
		<legend>Clock</legend>

		<input type="text" value="0:00:00" name="clock" />
		<label><input type="checkbox" name="clock-running" /> Running</label>

		<label><span>Loading screen label</span>
			<textarea rows="5" name="loading-screen-text"></textarea></label>
		<label><input type="checkbox" name="loading-screen-showing" /> Showing loading screen</label>
	</fieldset>

	<script>
	document.addEventListener("DOMContentLoaded", function() {
		document.querySelectorAll("#tracker input, #tracker textarea, #tracker select").forEach(function(e) {
			e.addEventListener("change", function(event) {
				var v = e.value;
				if(e.type == "checkbox")
					v = e.checked ? "on" : "off";

				if(e.name == "clock")
					v = clockStringToTicks(v);

				var req = new XMLHttpRequest();
				req.open("POST", "tracker-update");
				var fd = new FormData();
				fd.append("key", e.name);
				fd.append("value", v);
				req.send(fd);
			});
		});
	});


	document.querySelectorAll(".tracker i").forEach(function(e) {
		e.addEventListener("mouseenter", function(event) {
			var t = event.target.cloneNode(true);
			t.classList.remove("on");
			t.classList.remove("tri-on");
			t.classList.remove("quad-on");
			t.classList.remove("off");
			t.classList.remove("triple");
			t.classList.remove("quadruple");

			var hi = document.getElementById("hover-info");
			hi.textContent = t.className;
			hi.style.display = "block";
			t = event.target;
			hi.style.left = t.offsetLeft + window.scrollX + t.offsetWidth +  "px";
			hi.style.top = t.offsetTop + window.scrollY + t.offsetHeight + "px";
		});
		e.addEventListener("mouseleave", function(event) {
			document.getElementById("hover-info").style.display = "none";
		});
	});

	// FIXME: clock.

	// FIXME: take the event stream here too for live updates in event of multiple trackers.
	</script>
</div>

<script>
	// item tracker interaction
	document.body.addEventListener("click", function(event) {
		if(event.target.tagName == "I") {
			var clone = event.target.cloneNode(false);
			clone.classList.remove("tri-on");
			clone.classList.remove("quad-on");
			clone.classList.remove("triple");
			clone.classList.remove("quadruple");
			clone.classList.remove("on");
			clone.classList.remove("off");

			var name = clone.className;
			name = name.trim();

			var v;

			var isTriple = event.target.classList.contains("triple");
			var isQuadruple = event.target.classList.contains("quadruple");

			var states;
			if(isQuadruple)
				states = ["off", "on", "tri-on", "quad-on"];
			else if(isTriple)
				states = ["off", "on", "tri-on"];
			else
				states = ["off", "on"];

			var current = 0;
			for(var state = 0; state < states.length; state++) {
				var s = states[state];
				if(event.target.classList.contains(s)) {
					event.target.classList.remove(s);
					current = state;
				}
			}

			current++;

			if(current == states.length)
				current = 0;

			v = states[current];
			event.target.classList.add(v);

			var prop = event.target.parentNode.parentNode.dataset.propertyPrefix;
			prop += name;

			var req = new XMLHttpRequest();
			req.open("POST", "tracker-update");
			var fd = new FormData();
			fd.append("key", prop);
			fd.append("value", v);
			req.send(fd);

		}
	});
</script>

<script>
	var data = <%= data %>;
</script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		for(key in data) {
			var value = data[key];
			updateTrackerProperty(key, value);
		}
	});

	var source = new EventSource("event-stream");

	function reloadPage() {
		/* intentionally blank, don't want to deal with the hassle here even though is hould just do it right */
	}

	var sourceTimeout;
	function keepalive(period) {
		if(!period)
			period = 18000;
		if(sourceTimeout)
			clearTimeout(sourceTimeout);
		sourceTimeout = setTimeout(reloadPage, period);
	}

	keepalive();

	source.addEventListener("keepalive", function() { keepalive(); });

	source.addEventListener("tracker_update", function(event) {
		var obj = JSON.parse(event.data);

		updateTrackerProperty(obj.key, obj.value);

		keepalive();
	});


</script>



</main>
