.positioned-bl,
.positioned-br {
	display: none !important;
}

/*
.player-twitch {
	display: inline-block;
	float: right;
}
*/

.info-area {
	position: absolute;
	width: 320px;
	height: 180px;
	left: 480px;
	bottom: 40px;

	background: rgba(0, 0, 0, 0.6);
	color: white;
}

.show-rank-boxes .position {
	display: block;
}

.color,
.player-camera, .game-type, .bingo {
	display: none;
}

.show-cameras .player-camera {
	display: block;
}

.show-cameras .logo {
	width: 320px;
	left: 480px;
	/*bottom: 20px;*/

}

link[href*=ffr-wt-2024] ~ #ffr-layout .logo {
	width: 250px;
	left: 350px;
	bottom: 80px;

}

link[href*=ffr-wt-2024] ~ #ffr-layout .secondary-logo {
        width: 250px;
        left: 665px;
	top: auto;
	bottom: 74px;
}

link[href*=ffr-wt-2024] ~ #ffr-layout.show-cameras .logo {
	width: 250px;
	left: 520px;
	bottom: 100px;

}

link[href*=ffr-wt-2024] ~ #ffr-layout.show-cameras .secondary-logo {
        width: 250px;
	left: 520px;
	top: auto;
	bottom: 0px;
}


.secondary-logo {
	top: 60px;
	width: 150px;
	left: 565px;
}

.player-camera {
	--x: 336px;
	--y: 496px;
	width: 132px;
	height: 132px;
}

.gameplay {
	width: 560px;
	height: 420px;

	--y: 70px;
}

.tracker {
	--x: 4px;
	--y: 496px;

	width: 328px;
	height: 132px;
	text-align: center;
	padding-top: 6px;
}

.tracker.box.ff1-itemset {
	height: 124px;
}
.tracker.box.ffmq-itemset {
	height: 153px;
}

.tracker i {
	width: 34px;
	height: 34px;
	margin: 0px;
}

.clock {
	--x: 4px;
	--y: 35px; /* want teh bottom to be at 64, its height is 29 */
}

.wins-counter {
	--x: 4px;
	--y: 38px;
	width: 490px;
	text-align: right;
}

.positioned-ur .wins-counter {
	text-align: left;
}

.position {
	--x: 4px;
	--y: 3px;
	padding: 0px 2px;
}
.name {
	--x: 150px;
	--y: 18px;
	text-align: center !important;

	padding-top: 4px;

	line-height: 0.9;

	height: 46px;
	width: 220px;
	font-size: 18px;
	font-weight: bold;
}
.winner {
	--x: 450px;
	--y: 300px;
}

.comms {
	position: absolute;
	left: 500px;
	bottom: auto;
	top: 4px;
	width: 270px;
	height: 60px;
	padding-top: 4px;
}


.smrpg-itemset i {
	margin: 0px;
}

.smrpg-itemset .stars {
	display: block;
}

.tracker.box {
	height: auto;
}
