.positioned-bl,
.positioned-br {
}

.name,
.clock,
.comms,
.gameplay {
	display: none !important;
	width: 1px !important;
	height: 1px !important;
}

.info-area {
	position: absolute;
	width: 320px;
	height: 180px;
	left: 480px;
	bottom: 40px;

	background: rgba(0, 0, 0, 0.6);
	color: white;
}

.show-rank-boxes .position {
	display: block;
}

.color,
.player-camera, .game-type, .bingo {
	display: none;
}

.show-cameras .player-camera {
	display: block;
}

.show-cameras .logo {
	width: 320px;
	left: 480px;
	/*bottom: 20px;*/

}

.secondary-logo {
	top: 60px;
	width: 150px;
	left: 565px;
}

.player-camera {
	--x: 336px;
	--y: 548px;
	width: 132px;
	height: 132px;
}

.gameplay {
	width: 560px;
	height: 420px;

	--y: 70px;
}

.tracker {
	--x: 40px;
	--y: 40px;

	width: 328px;
	height: 132px;
	text-align: center;
	padding-top: 6px;
}

.tracker i {
	width: 34px;
	height: 34px;
	margin: 0px;
}

.clock {
	--x: 4px;
	--y: 498px;
}
.position {
	--x: 4px;
	--y: 36px;
	padding: 0px 2px;
}
.name {
	--x: 150px;
	--y: 18px;
	text-align: center !important;

	padding-top: 4px;

	line-height: 0.9;

	height: 46px;
	width: 220px;
	font-size: 18px;
	font-weight: bold;
}
.winner {
	--x: 450px;
	--y: 300px;
}

.comms {
	position: absolute;
	left: 500px;
	bottom: auto;
	top: 4px;
	width: 270px;
	height: 60px;
	padding-top: 4px;
}

