.bingo,
.color {
	display: none;
}

.show-rank-boxes .position {
	display: block;
	font-size: 18px;
}

.logo {
	bottom: 320px;
}

.tracker {
	z-index: 4;
}

.info-area {
	z-index: 5;
}

.info-area {
	display: block;

	position: absolute;
	left: 510px;
	width: 266px;
	height: 145px;
	bottom: 320px;
	padding: 0.5em;

	white-space: pre-line;
}

.info-area > div {
	padding: 4px;
}

.positioned-bl > * {
	left: var(--x);
	bottom: calc(var(--y) + 65px);
}
.positioned-br > * {
	right: var(--x);
	bottom: calc(var(--y) + 65px);
}


.comms {
	position: absolute;
	width: 270px;
	height: 40px;
	padding-top: 4px;

	right: 65px;
	bottom: 374px;

	--size: 12px;

	font-size: 16px;
	line-height: 45px;
}

.tracker {
	text-align: center;
	padding-top: 2px;
}

.game-type {
	position: absolute;
	bottom: 374px;
	left: 65px;
	width: 270px;
	height: 40px;
	white-space: nowrap;
	font-size: 22px;
}

.game-type .element-container {
	text-align: center;
}

.game-name {
}

.game-system {
	position: absolute;
	font-size: 14px;
	left: 4px;
	bottom: 4px;
}

.game-goal {
	position: absolute;
	font-size: 14px;
	right: 4px;
	bottom: 4px;
}



.name {
	--x: 408px;
	height: 32px;
	width: 220px;
	font-size: 24px;
	font-weight: bold;
	padding: 0px 2px;
}

.name,
.player-pronoun {
	vertical-align: bottom;
	display: block;
}

.player-pronoun {
	vertical-align: top;
	position: relative;
	top: -6px;
}

/*
.name::first-line {
	font-size: 25px;
}
*/

.tracker {
	font-size: 0px;
	width: 274px;
	--x: 130px;
	--y: 306px;
	height: 52px;

	--x: 408px;
	--y: 42px;
	width: 146px;
	height: 216px;
}

.tracker i {
	width: 32px;
	height: 32px;
}

.smz3-itemset.tracker i {
	width: 20px;
	height: 19px;
}

.smrpg-itemset.tracker i {
	width: 28px;
	height: 28px;
	margin: 1px 4px;
}

.clock {
	padding: 0px 2px;

	display: flex;
	justify-content: center;
	align-items: center;

	--x: 408px;
	--y: 262px;

	width: 90px;
	height: 31px;
	font-size: 19px;

}

.position {
	text-align: center;
	width: 40px;
	height: 26px;
	font-size: 13px;

	--x: 558px;
	--y: 42px;
}

.gameplay {
	--x: 4px;
	--y: 4px;

	width: 400px;
	height: 300px;
}

.winner {
	--x: 330px;
	--y: 150px;
	z-index: 20;
}

.ff4ls-itemset.tracker {
	padding: 4px 12px;
	text-align: center;
}

.ff4ls-itemset .palette {
        width: 24px;
        height: 24px;
}

.ff4ls-itemset .option {
        width: 24px;
        height: 32px;
}

.ff4ls-itemset .connector-arrow::after {
    content: '\25bc';
    font-size: 10px;
    display: block;
    text-align: center;
}

.zelda3-itemset.tracker i {
	width: 24px;
	height: 24px;
	margin: 1px;
}

.ctjot-itemset.tracker i {
	width: 30px;
	height: 30px;
	margin: 0px;
}
