.position, .color, .bingo {
	display: none;
}

.positioned-ur,
.positioned-bl,
.positioned-br {
	display: none !important;
}

.game-type {
	position: absolute;
	left: 758px;
	top: 6px;
	width: 514px;
	height: 69px;

	font-size: 58px;
	white-space: nowrap;
}

/* need this if cameras supported on the layout */
.show-cameras .player-camera {
	display: block;
}

.show-rank-boxes .position {
	display: block;
}

.game-system {
	position: absolute;
	font-size: 18px;
	left: 4px;
	bottom: 4px;
}

.game-goal {
	position: absolute;
	font-size: 18px;
	right: 4px;
	bottom: 4px;
}


.bingo {
	display: none;
}

.logo {
	position: absolute;
	width: 280px;
	height: 180px;
	bottom: 15px;
	left: 500px;
}

.gameplay {
	width: 737px;
	height: 549px;

	--x: 9px;
	--y: 6px;
}

.tracker {
	--x: 758px;
	--y: 163px;

	width: 248px;
	height: 328px;

	text-align: center;
}

.tracker i {
	width: 48px;
	height: 48px;
	margin: 1px;
}

.clock {
	--x: 1024px;
	--y: 85px;
	text-align: center;

	width: 249px;
	height: 69px;
	font-size: 2.25rem;
	padding-top: 6px;
	font-weight: bold;

}
.position {
	--x: 4px;
	--y: 40px;
}
.name {
	--x: 758px;
	--y: 85px;
	text-align: center;

	width: 249px;
	height: 69px;
	font-size: 2.0rem;
	font-weight: bold;
}

.player-pronoun {
	display: block;
	position: absolute;
	right: 4px;
	bottom: 4px;
}

.winner {
	--x: 250px;
	--y: 550px;
	width: 150px;
	text-align: center;
}

.comms {
	position: absolute;
	padding-top: 4px;

	left: 1024px;
	top: 163px;

	width: 249px;
	height: 69px;

	font-size: 30px;
}

.player-camera {
	position: absolute;
	padding-top: 4px;

	left: 1024px;
	top: 242px;

	width: 249px;
	height: 249px;

}
