<!DOCTYPE html>
<html>
<head>
	<title>FFR Bingo</title>
	<link rel="stylesheet" href="/assets/style.css?update-8c" type="text/css" />

	<link rel="shortcut icon" href="/assets/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="UTF-8" />
	<script src="/assets/script.js?update-8c" type="text/javascript"></script>
</head>
<body>
<nav style="text-align: center;">
	<a href="/">Home</a>
</nav>
<main><!-- filled in by the template system --> </main>
<footer>
	&nbsp;
</footer>
</body>
</html>
