#ffr-layout {
	background-image: url("/assets/tracker/background-desert.png");
}

#loading-screen > div {
	position: absolute;
	left: 80px;
	top: 130px;
	width: 405px;
	height: 240px;
	color: white;
	font-size: 32px;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

